@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.c-white {
  color: $white;
}
.c-black {
  color: $black;
}
.c-gray {
  color: $gray;
}
.bg-white {
  background-color: $white;
}
.bg-black {
  background-color: $black;
}
.bg-gray {
  background-color: $gray;
}
.btn {
  text-decoration: none;
  padding: 20px 40px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;

  @media (min-width: 769px) {
    width: 195px;
  }
}
.w-100 {
  width: 100%;
}
